@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("./images/bg-pattern-bottom.svg");
    background-color: #1BA1AD;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 100%;
    background-color: white;
    margin: 15rem auto;
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.card-image img{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 0.7rem 0.7rem 0 0;
}

.profile-image img{
    position: absolute;
    /* top: 325px; */
    /* left: 715px; */
    top: 45%;
    left: 46.5%;
    border-radius: 3rem;
    border: 3px solid white;
}
.personal-info{
    margin: 3.5rem auto 0.7rem auto;
    
}

.name{
    font-weight: bolder;
}

.age, .location{
    padding: 0.1rem;
    font-weight: normal;
    color: grey;
}

.location{
    padding: 1rem 0;
}

.stats{
    border-top: 1px solid grey;
}

.stats .flex{
    flex-direction: column;
    padding: 1rem 1rem;
}

.count{
    font-weight: bolder;
}

.detail{
    color: grey;
    margin: 0.5rem;
    font-size: 14px;
}

.attribution{
    color: white;
}
.attribution a{
    color: white;
}

@media screen and (max-width: 1200px){
    .profile-image img{
        left: 46%;
    }
}

@media screen and (max-width: 900px){
    .profile-image img{
        left: 43.3%;
    }
}


@media screen and (max-width: 600px){
    .profile-image img{
        left: 40%;
    }
}

@media screen and (max-width: 360px){
    .profile-image img{
        top: 45%;
        left: 35%;
    }
}

@media screen and (max-width: 300px){
    .profile-image img{
        top: 40%;
        left: 33%;
    }
}